*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
header{
    min-height: 12vh;
    background-image:url(https://i.pinimg.com/736x/82/f2/1d/82f21d4fab0141ec3bd035e01e39cb3b.jpg);
    background-size: cover;
}
header img{
    height: 50px;
    margin-right: 10px;
}
.container ul li{ 
    display: inline-block;
    padding: 10px 20px;
    font-family: "fuente";
    letter-spacing: 3px;
}
.container ul1 li{ 
    display: inline-block;
    font-family: "fuente";
    letter-spacing: 3px;
    margin-left: 100vh;
    background-color: #b48fee;
    border-radius: 25px;
    padding: 5px 10px;
}
.container a{
    color: rgb(66, 0, 128);
    text-decoration: none;
    transition: all 0.5s ease;
}
.container a:hover{
    background-color: #b48fee;
    color: rgb(0, 0, 0); 
    padding: 5px;
    border-radius: 25px;
}
.texto p{
    margin-top: 10px;
}
@font-face{
    font-family: fuente;
    src:url(Fluence_DEMO[1].ttf);
}
footer{
    background-image:url(https://i.pinimg.com/736x/82/f2/1d/82f21d4fab0141ec3bd035e01e39cb3b.jpg);
    background-size: cover;
    padding: 50px 20px;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-col .social-links a{
	display: flex;
	max-height: 12vh;
	max-width: 5vh;
	line-height: 40px;
	color: #ffffff;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: 90%;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
a{ 
    text-decoration: none;
    color: #000000;
}
footer img{
    width: 35px;
    height: 35px;
}
body{
    font-family: 'lato';
    color: #333;
    position: relative;
    padding-bottom: 300px;
}
img{
    max-width: 100%;
}
.container-items{
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(
            300px, 
            1fr)
        )
}
.ubicacion{
    align-items: center;
    justify-content: center;
    height: 150vh;
    width: 150vh;
    margin-top: -150px;
} 
.ubicacion img{
    height: 20vh;
    width: 20vh;
}
.ubicacion .imgubi{
    text-decoration: none;
}
.ubicacion .clima{
    padding-left: 50%;
    margin-top: -245px;
    min-height: 100vh;
    min-width: 120vh;
}
.ubicacion .clima img{
    height: 12vh;
    width: 15vh;  
}
.ubicacion .clima p{
    margin-top: 25px;
    opacity: 0.5;
    margin-left: -20%;
}
@media (max-width:425px){
    .ubicacion .clima p{
        margin-top: 38px;
        opacity: 0.5;
        margin-left: -20%;
    }
    .ubicacion .clima{
        padding-left: 45%;
        margin-top: -340px;
        min-height: 100vh;
        min-width: 120vh;
    }
}
@media only screen and (min-width: 1920px) and (max-width: 1920px){
    .ubicacion{
        align-items: center;
        justify-content: center;
        height: 150vh;
        width: 150vh;
        margin-top: -150px;
    } 
    .ubicacion img{
        height: 20vh;
        width: 20vh;
    }
    .ubicacion .imgubi{
        text-decoration: none;
    }
    .ubicacion .clima{
        padding-left: 50%;
        margin-top: -245px;
        min-height: 100vh;
        min-width: 120vh;
    }
    .ubicacion .clima img{
        height: 12vh;
        width: 15vh;  
    }
    .ubicacion .clima p{
        margin-top: 25px;
        opacity: 0.5;
        margin-left: -20%;
    } 
}
@media only screen and (min-width: 1680px) and (max-width: 1680px){
    .ubicacion{
        align-items: center;
        justify-content: center;
        height: 150vh;
        width: 150vh;
        margin-top: -150px;
    } 
    .ubicacion img{
        height: 20vh;
        width: 20vh;
    }
    .ubicacion .imgubi{
        text-decoration: none;
    }
    .ubicacion .clima{
        padding-left: 50%;
        margin-top: -245px;
        min-height: 100vh;
        min-width: 120vh;
    }
    .ubicacion .clima img{
        height: 12vh;
        width: 15vh;  
    }
    .ubicacion .clima p{
        margin-top: 9px;
        opacity: 0.5;
        margin-left: -20%;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1366px){
    .ubicacion{
        align-items: center;
        justify-content: center;
        height: 150vh;
        width: 150vh;
        margin-top: -150px;
    } 
    .ubicacion img{
        height: 20vh;
        width: 20vh;
    }
    .ubicacion .imgubi{
        text-decoration: none;
    }
    .ubicacion .clima{
        padding-left: 50%;
        margin-top: -150px;
        min-height: 100vh;
        min-width: 120vh;
    }
    .ubicacion .clima img{
        height: 12vh;
        width: 15vh;  
    }
    .ubicacion .clima p{
        margin-top: 25px;
        opacity: 0.5;
        margin-left: -20%;
    }
}